Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="img-fluid">
                <img class="img-circle img-responsive img-center" src="/images/josh_pic.png" alt="">
                <h3>Josh Ellman
                    <small></small>
                </h3>

            </div>
            <div class="img-fluid">
                <img class="img-circle img-responsive img-center" src="/images/senny_pic.png" alt="">
                <h3>Senam Dey
                    <small></small>
                </h3>

            </div>
            <div class="img-fluid">
                <img class="img-circle img-responsive img-center" src="/images/yanny_pic.png" alt="">
                <h3>Yanny Castrillon
                    <small></small>
                </h3>

            </div>
        </div>
