<div id="container">

<div class="main-logo">
  <img src="./images/logo-lametro.png"/>
</div>

<% if(loggedIn){ %>
  <div class="welcome">
    <h3>Welcome, <%= toolkit.uppercase(currentUser.firstName) + ' ' + toolkit.uppercase(currentUser.lastName) %></h3>
  </div>
<% } %>

<div class="btn-group list-button">
  <button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">Choose a Line <span class="caret"></span></button>
    <ul class="dropdown-menu scrollable-menu" role="menu">
        <% for (var i = 0; i < routes.length; i++) { %>
        <li>
          <a href="routes/<%= routes[i].id %>"><%= routes[i].display_name %></a>
        </li>
        <div class="dropdown-divider"></div>
        <% } %>
    </ul>
</div>
</div>
