<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LA Metro Tips</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="active"><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<h1 align="center">LA Metro Tips</h1>
<style>
  button {
    background-color: #4286f4;
    color: black;
    border: 2px solid;
    border-radius: 25px;
    font-family: georgia;
    font-weight: bold;
  }
</style>
<h3 align="center">CHOOSE A LINE (API) <br><br><br>
<button type="button">Create an Account</button> <br>
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left"> <small>©2017 - Powered by YJS</small>
         <a href="x" target="_blank" ></a></p>
    <a href="x" class="navbar-btn btn-danger btn pull-right">
    <span class="glyphicon glyphicon"></span>Link(ROUTES?)</a>
  </div>
</div>
<div class="">
  <img src="http://i.imgur.com/ucpyVio.png"/>
</div>

