<div id="container-fluid">
  <div class="row">
    <div class="main-logo col-xs-7">
      <img src="./images/logo-lametro.png"/>
    </div>

    <div class="btn-group list-button col-xs-offset-3">
      <button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">Choose a Line <span class="caret"></span></button>
      <ul class="dropdown-menu scrollable-menu" role="menu">
        <% routes.forEach((r)=> { %>
          <li><a href="routes/<%= r.id %>"><%= r.display_name %></a></li>
          <div class="dropdown-divider"></div>
        <% }) %>
      </ul>
    </div>
  </div>
