.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.list-button {
  position: absolute;
  left: 40%;
}

.main-logo {
  position: relative;
  left: 20%
}

.welcome {
  text-align: left;
  margin-right: 20px;
}

body {
  background-color: #dee0e5;
}

#myCarousel {
  z-index: -1
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
